body {
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#quote_box {
  width: 50%;
  margin: 0 auto;
  height: 50%;
  text-align: right;
  position: absolute;
  top: 20%;
  left: 10%;
  font-size: 3em;

}

#quote_box::before {
  content: '"';
  font-size: 2em;
  margin: 3px;
}

#quote_box::after {
  content: '"';
  font-size: 2em;
  margin: 3px;
}

#source {
  position: absolute;
  top: 60%;
  left: 60%;
  height: 3em;
  width: 9em;
  font-size: 50px;
  font-family: 'Felipa', cursive;
}

h3 {
  position: absolute;
}

a {
  color: #fff;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 77%;
  transition: all 0.5s;
}

a:hover {
  background-color: rgba(255, 255, 255, 0.466);
  color: #333;
  border: 2px solid #fff;
}